<footer class="bg-gcos-green text-white mt-auto">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-6">
        <div class="flex justify-between items-center">
            <div>© {{ site.time | date: '%Y' }} {{ site.title }}</div>
            <div class="flex space-x-4">
                <a href="{{ '/imprint' | relative_url }}" class="hover:text-gray-300">Imprint</a>
                <a href="{{ '/privacy-policy' | relative_url }}" class="hover:text-gray-300">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>