<nav class="sticky top-0 z-50 bg-white/80 backdrop-blur-sm bg-white border-b-2 border-b-black">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center h-16">
            <div class="flex items-center cursor-pointer h-16 w-40 flex-shrink-0">
                <a href="{{ '/' | relative_url }}" class="text-lg font-bold">
                    <img src="/assets/images/gcos.png" class="h-full w-full object-contain" alt="GCOS Logo" />
                </a>
            </div>
            <div class="flex-grow flex justify-center space-x-6 px-4 overflow-x-auto">
                {% for nav_item in site.data.nav_order %}
                  {% for p in site.pages %}
                    {% if ((p.title == nav_item or ) or (p.nav_title == nav_item)) and p.nav != false %}
                      <a href="{{ p.url | relative_url }}"
                         class="text-black hover:text-gcos-green text-xl whitespace-nowrap {% if page.url == p.url %}text-gcos-green{% endif %}">
                        {% if p.nav_title %}
                          {{ p.nav_title }}
                        {% else %}
                          {{ p.title }}
                        {% endif %}
                      </a>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
            {% include button.html 
                title='Donate'
                url='https://paypal.com/gcosai'
            %}
        </div>
    </div>
</nav>