<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/dist-styles.css' | relative_url }}">
</head>
<body class="min-h-screen flex flex-col">
    {% include navigation.html %}
    
    <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-3 py-8">
        <div class="max-w-7xl mx-auto">
            {{ content }}
        </div>
    </main>

    {% include footer.html %}
</body>
</html>